$font-brand: 'Righteous', cursive;
$font-brand2: 'Russo One', sans-serif;

.navbar-brand {
  font-family: $font-brand !important;
  font-size: 3em;
}

.brand {
  h1 {
    font-family: $font-brand2;
    font-size: 4em !important;
    font-weight: 200 !important;
  }
}

.tab-space {
  padding: 70px 0 50px;
}

.tengah {
  position: absolute;
  left: 45% !important;
  margin-left: -50px !important;
  display: block;
}

.tbl-pad {
  min-width: 150px;
}

.bundar {
  background-color: #9c27b0;
  color: #fff;
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px !important;
  margin: 50px !important;

  img {
    max-width: 100px;
  }
}

.laporan {
  .btn-xs {
    padding: 1px 7px;
  }
}

.protes {
  img {
    max-height: 200px;
  }
}

.footer {
  background-color: #9c27b0;
  margin-top: 50px;

  .credits {
    margin: 30px;
    color: #fff;
  }
}

.form-file-upload {
  .input-group {
    width: 100%;
  }

  .input-group-btn:last-child > .btn-round {
    border-radius: 30px;
  }
}

.form-control[disabled],
.form-control[readonly],
.form-group .form-control[disabled],
.form-group .form-control[readonly],
fieldset[disabled] .form-control,
fieldset[disabled] .form-group .form-control {
  background-color: transparent;
}

.form-group .form-control {
  margin-bottom: 7px;
}

.form-control,
.form-group .form-control {
  border: 0;
  background-image: linear-gradient(#9c27b0,#9c27b0),linear-gradient(#D2D2D2,#D2D2D2);
  background-size: 0 2px,100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom,center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
}

.input-group .input-group-btn {
  padding: 0 12px;
}
#profileModal {

  .modal-content {
    max-width: 360px;
    left: 20%;
    border-radius: 15px !important;
  }
}

.card-user {
  .image {
    border-radius: 8px 8px 0 0;
    height: 150px;
    position: relative;
    overflow: hidden;
  }

  .content {
    min-height: 200px;
  }

  .author {
    text-align: center;
    text-transform: none;
    margin-top: -145px;

    .title {
          color: #403D39;
    }
  }

  .title {
    font-weight: 600;
    line-height: 24px;
}

  .avatar.border-white {
    border: 5px solid #FFFFFF;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
  }

  .card-user .description {
    margin-top: 10px;
}
}

.card-p {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;

  .description {
    font-size: 16px;
    color: #66615b;
}

  .title {
    margin: 0;
    color: #252422;
    font-weight: 300;
}

  .avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
  }

  .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 6px 6px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    img {
      width: 100%;
    }

    .content {
      padding: 15px 15px 10px;
    }

    .author {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

#signModal {
  .card-title {
    color: #fff;
    font-family: $font-brand;
    font-weight: 400;
  }
}
